{
"id": "{{ pref_compute}}-{{ item.index }}",
"name": "OCP4-{{ pref_compute }}-{{ item.index }}",
"profile": "{{ pref_compute }}",
"selector": {
  "mac": "{{ item.mac }}"
  },
"metadata": {
  "hostname": "{{ pref_compute }}-{{ item.index }}.{{ cluster_name }}.{{ base_domain }}",
  "ip_add": "{{ item.ip }}",
  "ip_mask": "{{ ign_net_prefix }}",
  "ip_gw": "{{ ign_net_gw }}",
  "ip_dns": "{{ ign_net_dns }}",
  "ip_domain": "{{ base_domain }}"
  }
}

